html,
body {
  margin: 0px;
  background-color: rgb(32, 85, 54);
  color: rgb(1, 96, 179);
}

.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta {
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -70px;
}

#carta-jugador,
#carta-jugador {
  height: 250px;
}
